* {
    font-family: Kanit, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

/* header */


.header-background-image {
    height: 30vh;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-container {
    width: 90%;
    max-width: 800px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    gap: 1em;
}

.header-main-container-top {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-main-quote i {
    border-left: 1px rgba(128, 128, 128, 0.4) solid;
    font-size: 0.9em;
    padding-left: 1em;
}

.header-main-container-bottom {
    width: 300px;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    border-top: 1px rgba(128, 128, 128, 0.4) solid;
    gap: 1em;
}

/* bio */

.image-profile-container {
    width: 130px;
}

.image-profile-container img {
    padding: 4px;
    border-radius: 100%;
    border: 1px gray solid;
}

.main-bio-container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-bio-section-aside-container {
    display: flex;
}

.main-bio-section-aside-container section,
.main-bio-section-aside-container aside  {
    width: 400px;
    height: 100%;
    padding: 1em;
}

.main-bio-section-aside-container aside {
    border-left: 1px gray solid;
    padding-left: 5em;
}

.main-bio-about-me-aside {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-bio-about-me-aside div {
    padding: 2em 0;
}

.main-bio-about-me-aside div:not(:last-child) {
    border-bottom: 1px gray solid;
}

.main-bio-section-aside-container section {
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* experience */

.experience-container {
    background-color: rgb(81, 81, 114);
    color: white;
    padding: 0.6em;
    border-radius: 6px;
}

.experience-container:hover {
    background-color: rgb(69, 69, 128);
}